# Backend API base URL (no trailing slash)
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

# BOB Project API base URL (no trailing slash)
NEXT_PUBLIC_BOB_API_URL=https://staging-backend.thebobproject.co
